@inject HttpClient _client

<EditForm Model="@restaurant" OnValidSubmit="@OnValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <fieldset disabled="@Disabled">
        <div class="form-group">
            <label>Restaurant Name: </label>
            <div>
                <InputText @bind-Value="restaurant.Name" class="form-control" />
                <ValidationMessage For="@(()=> restaurant.Name)" />
            </div>
        </div>

        <div class="form-group">
            <label>Cuisine: </label>
            <div>
                <InputSelect @bind-Value="restaurant.CuisineId" class="form-control">
                    <option value="">-- Select Cuisine --</option>
                    @if (Cuisines != null)
                    {
                        foreach (var cuisine in Cuisines)
                        {
                            <option value="@cuisine.Id">@cuisine.Name</option>
                        }
                    }
                </InputSelect>
                <ValidationMessage For="@(()=> restaurant.CuisineId)" />
            </div>
        </div>

        <div class="form-group">
            <label>Menu: </label>
            <div>
                <InputSelect @bind-Value="restaurant.FoodId" class="form-control">
                    <option value="">-- Select Menu --</option>
                    @if (Foods != null)
                    {
                        foreach (var food in Foods)
                        {
                            <option value="@food.Id">@food.Name</option>
                        }
                    }
                </InputSelect>
                <ValidationMessage For="@(()=> restaurant.FoodId)" />
            </div>
        </div>

        <div class="form-group">
            <label>Image: </label>
            <div>
                <InputSelect @bind-Value="restaurant.ImageId" class="form-control">
                    <option value="">-- Select Image --</option>
                    @if (Images != null)
                    {
                        foreach (var image in Images)
                        {
                            <option value="@image.Id">@image.Rest_Name</option>
                        }
                    }
                </InputSelect>
                <ValidationMessage For="@(()=> restaurant.ImageId)" />
            </div>
        </div>

        <div class="form-group">
            <label>Phone Number: </label>
            <div>
                <InputText @bind-Value="restaurant.PhoneNumber" class="form-control" />
                <ValidationMessage For="@(()=> restaurant.PhoneNumber)" />
            </div>
        </div>

        <div class="form-group">
            <label>Address: </label>
            <div>
                <InputText @bind-Value="restaurant.Address" class="form-control" />
                <ValidationMessage For="@(()=> restaurant.Address)" />
            </div>
        </div>

        <div class="form-group">
            <label>Opening Time: </label>
            <div>
                <SfTimePicker TValue="DateTime?" @bind-Value='@restaurant.OpeningTime' StrictMode=true Min='@MinVal' Max='@MaxVal'>
                </SfTimePicker>
            </div>
        </div>

        <div class="form-group">
            <label>Closing Time: </label>
            <div>
                <SfTimePicker TValue="DateTime?" @bind-Value='@restaurant.ClosingTime' StrictMode=true Min='@MinVal' Max='@MaxVal'>
                </SfTimePicker>
            </div>
        </div>


    </fieldset>
    @if (!Disabled)
    {
        <button type="submit" class=" btn btn-success btn-block">
            @ButtonText
        </button>
    }
    <BackToList Target="restaurants" />
</EditForm>
@code {
    [Parameter] public bool Disabled { get; set; } = false;
    [Parameter] public Restaurant restaurant { get; set; }
    [Parameter] public string ButtonText { get; set; } = "Save";
    [Parameter] public EventCallback OnValidSubmit { get; set; }
    [Parameter] public DateTime MinVal { get; set; } = new DateTime(DateTime.Now.Year, DateTime.Now.Month, DateTime.Now.Day, 00, 00, 00);
    [Parameter] public DateTime MaxVal { get; set; } = new DateTime(DateTime.Now.Year, DateTime.Now.Month, DateTime.Now.Day, 23, 00, 00);


    private IList<Table> Tables;
    private IList<Cuisine> Cuisines;
    private IList<PaymentType> PaymentTypes;
    private IList<Food> Foods;
    private IList<Image> Images;

    protected async override Task OnInitializedAsync()
    {
        Tables = await _client.GetFromJsonAsync<List<Table>>($"{Endpoints.TablesEndpoint}");
        Cuisines = await _client.GetFromJsonAsync<List<Cuisine>>($"{Endpoints.CuisinesEndpoint}");
        PaymentTypes = await _client.GetFromJsonAsync<List<PaymentType>>($"{Endpoints.PaymentTypesEndpoint}");
        Foods = await _client.GetFromJsonAsync<List<Food>>($"{Endpoints.FoodsEndpoint}");
        Images = await _client.GetFromJsonAsync<List<Image>>($"{Endpoints.ImagesEndpoint}");
    }
}