@page "/"
@inject HttpClient _client
@inject IJSRuntime js
@attribute [Authorize]

@if (Restaurants == null)
{
    <div class="alert alert-info">Loading Restaurants...</div>
}
else
{
    <table class="table table-responsive">
        <thead>
            <tr>
                <th>Rest App</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var restaurant in Restaurants)
            {
                <tr>
                    <td>
                        <div height="auto,auto,auto,156px">
                            <div height="100,100,115,100%">
                                <img src="@restaurant.Image.Img_url" width="320" height="180">
                            </div>
                            <h2>@restaurant.Name</h2>
                            <span>Address: @restaurant.Address</span>
                            <div>
                                <span>Cuisine: @restaurant.Cuisine.Name</span>
                                <div>
                                    <p>Contact Number: @restaurant.PhoneNumber</p>
                                    <p>Operating hours: @restaurant.OpeningTime.Value.ToShortTimeString() - @restaurant.ClosingTime.Value.ToShortTimeString()</p>
                                    <a href="/individuals/@restaurant.Id" class="btn btn-primary">
                                        <span class="oi oi-target"></span>
                                    </a>
                                    <embed src="@restaurant.Menu.Path_url" width="320" height="425">
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {

    private List<Restaurant> Restaurants;

    protected async override Task OnInitializedAsync()
    {
        Restaurants = await _client.GetFromJsonAsync<List<Restaurant>>($"{Endpoints.RestaurantsEndpoint}");
    }
}